This ➡️ dataset contains banking marketing campaign data and we can use it to optimize marketing campaigns to attract more customers to term deposit subscription.

What is a Term Deposit?

A Term deposit is a deposit that a bank or a financial institution offers with a fixed rate (often better than just opening deposit account) in which your money will be returned back at a specific maturity time.


Instructions

In this assignment you will have to take the following steps:

Import your dataset and perform initial analysis and visualization
Clean the data
Build a  deep learning network to predict the marketing campaign outcome ("deposit" either Yes or No)
You have to submit a jupyter notebook file.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv(r"Downloads/bank.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [5]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [9]:
df["job"].value_counts()

job
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: count, dtype: int64

In [11]:
df["marital"].value_counts()

marital
married     6351
single      3518
divorced    1293
Name: count, dtype: int64

In [13]:
df["education"].value_counts()

education
secondary    5476
tertiary     3689
primary      1500
unknown       497
Name: count, dtype: int64

In [15]:
df["default"].value_counts()

default
no     10994
yes      168
Name: count, dtype: int64

In [17]:
df["housing"].value_counts()

housing
no     5881
yes    5281
Name: count, dtype: int64

In [19]:
df["loan"].value_counts()

loan
no     9702
yes    1460
Name: count, dtype: int64

In [21]:
df["contact"].value_counts()

contact
cellular     8042
unknown      2346
telephone     774
Name: count, dtype: int64

In [23]:
df["month"].value_counts()

month
may    2824
aug    1519
jul    1514
jun    1222
nov     943
apr     923
feb     776
oct     392
jan     344
sep     319
mar     276
dec     110
Name: count, dtype: int64

In [25]:
df["job"].value_counts()

job
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: count, dtype: int64

In [27]:
df["poutcome"].value_counts()

poutcome
unknown    8326
failure    1228
success    1071
other       537
Name: count, dtype: int64

In [29]:
df["deposit"].value_counts()

deposit
no     5873
yes    5289
Name: count, dtype: int64

### ENCODING CATEGORICAL COLUMNS

In [32]:
df['deposit'] = df['deposit'].map({'yes': 1, 'no': 0})
df['contact'] = df['contact'].map( {'cellular': 1, 'telephone': 2, 'unknown': 0})
df['loan'] = df['loan'].map({'yes': 1, 'no': 0})
df['housing'] = df['housing'].map({'yes': 1, 'no': 0})
df['default'] = df['default'].map({'yes': 1, 'no': 0})
df['marital'] = df['marital'].map({'married': 1, 'single': 2, 'divorced': 3})

df = pd.get_dummies(df, columns=['job', 'education', 'month', 'poutcome'], drop_first=True)

In [34]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
le = LabelEncoder()

# Encode the 'deposit' column (target variable)
df['deposit'] = le.fit_transform(df['deposit'])

In [36]:
df.head()

,age,marital,default,balance,housing,loan,contact,day,duration,campaign,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
0,59,1,0,2343,1,0,0,5,1042,1,...,False,False,False,True,False,False,False,False,False,True
1,56,1,0,45,0,0,0,5,1467,1,...,False,False,False,True,False,False,False,False,False,True
2,41,1,0,1270,1,0,0,5,1389,1,...,False,False,False,True,False,False,False,False,False,True
3,55,1,0,2476,1,0,0,5,579,1,...,False,False,False,True,False,False,False,False,False,True
4,54,1,0,184,0,0,0,5,673,2,...,False,False,False,True,False,False,False,False,False,True

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  11162 non-null  int64
 1   marital              11162 non-null  int64
 2   default              11162 non-null  int64
 3   balance              11162 non-null  int64
 4   housing              11162 non-null  int64
 5   loan                 11162 non-null  int64
 6   contact              11162 non-null  int64
 7   day                  11162 non-null  int64
 8   duration             11162 non-null  int64
 9   campaign             11162 non-null  int64
 10  pdays                11162 non-null  int64
 11  previous             11162 non-null  int64
 12  deposit              11162 non-null  int64
 13  job_blue-collar      11162 non-null  bool
 14  job_entrepreneur     11162 non-null  bool
 15  job_housemaid        11162 non-null  bool
 16  job_management       11162 non-null  bool
 17  job_retired          11162 non-null  bool
 18  job_self-employed    11162 non-null  bool
 19  job_services         11162 non-null  bool
 20  job_student          11162 non-null  bool
 21  job_technician       11162 non-null  bool
 22  job_unemployed       11162 non-null  bool
 23  job_unknown          11162 non-null  bool
 24  education_secondary  11162 non-null  bool
 25  education_tertiary   11162 non-null  bool
 26  education_unknown    11162 non-null  bool
 27  month_aug            11162 non-null  bool
 28  month_dec            11162 non-null  bool
 29  month_feb            11162 non-null  bool
 30  month_jan            11162 non-null  bool
 31  month_jul            11162 non-null  bool
 32  month_jun            11162 non-null  bool
 33  month_mar            11162 non-null  bool
 34  month_may            11162 non-null  bool
 35  month_nov            11162 non-null  bool
 36  month_oct            11162 non-null  bool
 37  month_sep            11162 non-null  bool
 38  poutcome_other       11162 non-null  bool
 39  poutcome_success     11162 non-null  bool
 40  poutcome_unknown     11162 non-null  bool
dtypes: bool(28), int64(13)
memory usage: 1.4 MB

In [44]:
import warnings
warnings.filterwarnings("ignore")

In [46]:
import tensorflow as tf  # TensorFlow library for building neural networks
from tensorflow.keras.models import Sequential  # Sequential model for building a feedforward neural network
from tensorflow.keras.layers import Dense, Dropout  # Dense layer for fully connected layers
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers import Adam  # Adam optimizer for gradient descent
from sklearn.model_selection import train_test_split  # Function to split data into training and test sets
from sklearn.preprocessing import StandardScaler  # Standardization of features (scaling)

In [48]:
X = df.drop(columns=["deposit"])
y = df["deposit"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [50]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

### MODELLING

In [53]:
model = Sequential()

#input layer
model.add(Dense(64, activation='relu', input_dim=X_train.shape[1]))
model.add(Dropout(0.3))

#hidden layers
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))

#output layer
model.add(Dense(1, activation='sigmoid'))

#Compiling the layers
model.compile(optimizer=Adam(learning_rate=0.0001), loss='binary_crossentropy', metrics=['accuracy'])

In [55]:
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [59]:
model.evaluate(X_test, y_test)

70/70 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8238 - loss: 0.3962

[0.36633872985839844, 0.8369905948638916]

In [57]:
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, batch_size=32, callbacks=[early_stopping])

Epoch 1/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.5213 - loss: 0.7503 - val_accuracy: 0.5970 - val_loss: 0.6746
Epoch 2/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.5873 - loss: 0.6720 - val_accuracy: 0.7000 - val_loss: 0.6160
Epoch 3/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6599 - loss: 0.6210 - val_accuracy: 0.7429 - val_loss: 0.5504
Epoch 4/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7147 - loss: 0.5625 - val_accuracy: 0.7698 - val_loss: 0.5024
Epoch 5/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7369 - loss: 0.5343 - val_accuracy: 0.7868 - val_loss: 0.4681
Epoch 6/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7646 - loss: 0.5011 - val_accuracy: 0.8070 - val_loss: 0.4427
Epoch 7/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7672 - loss: 0.4903 - val_accuracy: 0.8200 - val_loss: 0.4264
Epoch 8/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7931 - loss: 0.4558 - val_accuracy: 0.8249 - val_loss: 0.4151
Epoch 9/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7901 - loss: 0.4604 - val_accuracy: 0.8303 - val_loss: 0.4071
Epoch 10/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8001 - loss: 0.4408 - val_accuracy: 0.8303 - val_loss: 0.4002
Epoch 11/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8001 - loss: 0.4445 - val_accuracy: 0.8321 - val_loss: 0.3963
Epoch 12/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7996 - loss: 0.4381 - val_accuracy: 0.8316 - val_loss: 0.3933
Epoch 13/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8052 - loss: 0.4294 - val_accuracy: 0.8316 - val_loss: 0.3900
Epoch 14/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8206 - loss: 0.4139 - val_accuracy: 0.8303 - val_loss: 0.3878
Epoch 15/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8143 - loss: 0.4177 - val_accuracy: 0.8285 - val_loss: 0.3860
Epoch 16/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8106 - loss: 0.4287 - val_accuracy: 0.8289 - val_loss: 0.3846
Epoch 17/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8302 - loss: 0.3903 - val_accuracy: 0.8294 - val_loss: 0.3831
Epoch 18/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8222 - loss: 0.4054 - val_accuracy: 0.8294 - val_loss: 0.3825
Epoch 19/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8235 - loss: 0.4048 - val_accuracy: 0.8303 - val_loss: 0.3811
Epoch 20/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8244 - loss: 0.3996 - val_accuracy: 0.8321 - val_loss: 0.3809
Epoch 21/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8289 - loss: 0.3979 - val_accuracy: 0.8303 - val_loss: 0.3800
Epoch 22/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8178 - loss: 0.3989 - val_accuracy: 0.8325 - val_loss: 0.3791
Epoch 23/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8296 - loss: 0.4018 - val_accuracy: 0.8316 - val_loss: 0.3783
Epoch 24/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8302 - loss: 0.3957 - val_accuracy: 0.8330 - val_loss: 0.3783
Epoch 25/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8367 - loss: 0.3789 - val_accuracy: 0.8321 - val_loss: 0.3773
Epoch 26/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8337 - loss: 0.3816 - val_accuracy: 0.8334 - val_loss: 0.3775
Epoch 27/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8363 - loss: 0.3774 - val_accuracy: 0.8343 - val_loss: 0.3773
Epoch 28/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8338 - loss: 0.3787 - val_accuracy: 0.8343 - val_loss: 0.3768
Epoch 29/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8352 - loss: 0.3804 - val_accuracy: 0.8356 - val_loss: 0.3759
Epoch 30/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8439 - loss: 0.3719 - val_accuracy: 0.8339 - val_loss: 0.3753
Epoch 31/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8389 - loss: 0.3765 - val_accuracy: 0.8339 - val_loss: 0.3750
Epoch 32/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8388 - loss: 0.3778 - val_accuracy: 0.8334 - val_loss: 0.3742
Epoch 33/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8365 - loss: 0.3771 - val_accuracy: 0.8334 - val_loss: 0.3735
Epoch 34/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8301 - loss: 0.3871 - val_accuracy: 0.8334 - val_loss: 0.3738
Epoch 35/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8338 - loss: 0.3806 - val_accuracy: 0.8343 - val_loss: 0.3738
Epoch 36/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8438 - loss: 0.3625 - val_accuracy: 0.8356 - val_loss: 0.3734
Epoch 37/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8398 - loss: 0.3762 - val_accuracy: 0.8348 - val_loss: 0.3735
Epoch 38/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8476 - loss: 0.3637 - val_accuracy: 0.8339 - val_loss: 0.3722
Epoch 39/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8438 - loss: 0.3742 - val_accuracy: 0.8365 - val_loss: 0.3720
Epoch 40/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8415 - loss: 0.3710 - val_accuracy: 0.8352 - val_loss: 0.3717
Epoch 41/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8410 - loss: 0.3663 - val_accuracy: 0.8356 - val_loss: 0.3720
Epoch 42/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8498 - loss: 0.3613 - val_accuracy: 0.8334 - val_loss: 0.3714
Epoch 43/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8429 - loss: 0.3734 - val_accuracy: 0.8334 - val_loss: 0.3714
Epoch 44/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8432 - loss: 0.3597 - val_accuracy: 0.8348 - val_loss: 0.3707
Epoch 45/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8476 - loss: 0.3632 - val_accuracy: 0.8352 - val_loss: 0.3705
Epoch 46/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8491 - loss: 0.3563 - val_accuracy: 0.8343 - val_loss: 0.3701
Epoch 47/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8519 - loss: 0.3479 - val_accuracy: 0.8334 - val_loss: 0.3705
Epoch 48/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8483 - loss: 0.3612 - val_accuracy: 0.8348 - val_loss: 0.3702
Epoch 49/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8463 - loss: 0.3595 - val_accuracy: 0.8330 - val_loss: 0.3698
Epoch 50/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8386 - loss: 0.3746 - val_accuracy: 0.8348 - val_loss: 0.3696
Epoch 51/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8492 - loss: 0.3541 - val_accuracy: 0.8356 - val_loss: 0.3689
Epoch 52/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8453 - loss: 0.3608 - val_accuracy: 0.8383 - val_loss: 0.3697
Epoch 53/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8474 - loss: 0.3624 - val_accuracy: 0.8365 - val_loss: 0.3691
Epoch 54/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8444 - loss: 0.3622 - val_accuracy: 0.8379 - val_loss: 0.3694
Epoch 55/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8455 - loss: 0.3602 - val_accuracy: 0.8370 - val_loss: 0.3690
Epoch 56/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8540 - loss: 0.3408 - val_accuracy: 0.8388 - val_loss: 0.3685
Epoch 57/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8531 - loss: 0.3446 - val_accuracy: 0.8374 - val_loss: 0.3690
Epoch 58/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8446 - loss: 0.3603 - val_accuracy: 0.8330 - val_loss: 0.3685
Epoch 59/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8519 - loss: 0.3497 - val_accuracy: 0.8343 - val_loss: 0.3680
Epoch 60/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8482 - loss: 0.3540 - val_accuracy: 0.8348 - val_loss: 0.3679
Epoch 61/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8437 - loss: 0.3602 - val_accuracy: 0.8348 - val_loss: 0.3677
Epoch 62/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8416 - loss: 0.3673 - val_accuracy: 0.8361 - val_loss: 0.3677
Epoch 63/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8413 - loss: 0.3580 - val_accuracy: 0.8361 - val_loss: 0.3677
Epoch 64/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8506 - loss: 0.3526 - val_accuracy: 0.8374 - val_loss: 0.3676
Epoch 65/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8515 - loss: 0.3449 - val_accuracy: 0.8352 - val_loss: 0.3674
Epoch 66/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8553 - loss: 0.3391 - val_accuracy: 0.8374 - val_loss: 0.3675
Epoch 67/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8509 - loss: 0.3511 - val_accuracy: 0.8365 - val_loss: 0.3680
Epoch 68/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8523 - loss: 0.3498 - val_accuracy: 0.8383 - val_loss: 0.3683
Epoch 69/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8475 - loss: 0.3567 - val_accuracy: 0.8383 - val_loss: 0.3681
Epoch 70/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8508 - loss: 0.3438 - val_accuracy: 0.8374 - val_loss: 0.3682
Epoch 71/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8528 - loss: 0.3398 - val_accuracy: 0.8383 - val_loss: 0.3672
Epoch 72/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8608 - loss: 0.3297 - val_accuracy: 0.8383 - val_loss: 0.3673
Epoch 73/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8645 - loss: 0.3344 - val_accuracy: 0.8374 - val_loss: 0.3668
Epoch 74/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8465 - loss: 0.3471 - val_accuracy: 0.8374 - val_loss: 0.3673
Epoch 75/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8505 - loss: 0.3456 - val_accuracy: 0.8383 - val_loss: 0.3666
Epoch 76/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8546 - loss: 0.3420 - val_accuracy: 0.8374 - val_loss: 0.3666
Epoch 77/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8540 - loss: 0.3456 - val_accuracy: 0.8370 - val_loss: 0.3663
Epoch 78/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8569 - loss: 0.3338 - val_accuracy: 0.8365 - val_loss: 0.3668
Epoch 79/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8571 - loss: 0.3350 - val_accuracy: 0.8356 - val_loss: 0.3664
Epoch 80/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8561 - loss: 0.3464 - val_accuracy: 0.8383 - val_loss: 0.3667
Epoch 81/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8583 - loss: 0.3352 - val_accuracy: 0.8392 - val_loss: 0.3676
Epoch 82/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8592 - loss: 0.3336 - val_accuracy: 0.8406 - val_loss: 0.3665
Epoch 83/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8594 - loss: 0.3385 - val_accuracy: 0.8388 - val_loss: 0.3668
Epoch 84/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8515 - loss: 0.3468 - val_accuracy: 0.8379 - val_loss: 0.3665
Epoch 85/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8583 - loss: 0.3324 - val_accuracy: 0.8401 - val_loss: 0.3665
Epoch 86/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8652 - loss: 0.3185 - val_accuracy: 0.8392 - val_loss: 0.3668
Epoch 87/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8572 - loss: 0.3377 - val_accuracy: 0.8401 - val_loss: 0.3668

In [ ]:
model.predict(X_test)